.gameboard{
    display: grid;
    width: 420px;
    height: 420px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    position: relative;
    top: 100px;
    left: 400px
}

.upper_left, .upper_center,.upper_right, .middle_left, .middle_center, .middle_right{
    border-bottom: 1px solid black;
}

.upper_center, .middle_center, .lower_center,.upper_right, .middle_right, .lower_right {
    border-left: 1px solid black;
}


