.gameboard{
    display: grid;
    width: 420px;
    height: 420px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    position: relative;
    top: 100px;
    left: 400px
}

.upper, .middle{
    border-bottom: 1px solid black;
}

.center, .right{
    border-left: 1px solid black;
}


