body{
    height: 100dvh;
}

.wrapper{
    display: grid;
    grid-template-rows: 1fr 1fr 6fr 1fr;
    justify-content: center;
}
h1{
    grid-row:1/2;
}

.game_instructor{
    grid-row: 2/3;
    display: flex;
    justify-content: center;
}

.gameboard{
    grid-row: 3/8;
    display: grid;
    width: 204px;
    height: 204px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
}

.grid{
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height:68px;
    overflow: hidden;
}

.button_div{
    grid-row: 8/9;
    display: flex;
    justify-content: space-around;
}

.button{
    appearance: none;
    outline: none;
    border-radius: 5px;

}